<div class="background">
	
	<div class="title">Payment Details</div>
	
	<form name="sendMoneyForm" ng-submit="sendMoney.sendMoney(sendMoney.details)">
	<input ng-model="sendMoney.details.email" name="email" type="email" placeholder="payee email" ng-class="{ 'has-error' : sendMoneyForm.email.$invalid && !sendMoneyForm.email.$pristine }" required>

	<div id="amountInput">
	<div id="currencySign">{{sendMoney.details.currency.symbol}}</div>
	<input class="money" name="amount" type="number" ng-model="sendMoney.details.amount" placeholder="amount" min="0" ng-class="{ 'has-error' : sendMoneyForm.amount.$invalid && !sendMoneyForm.amount.$pristine }" required>
	

	<select class="currency" 
		ng-model="sendMoney.details.currency"
		ng-options="currency.option for currency in sendMoney.currencyOptions">
	</select>
	</div>
	<textarea ng-model="sendMoney.message" placeholder="message (optional):">
	</textarea>
	<div class="text">What is this payment for?</div>

	<select ng-model="sendMoney.purpose"
	ng-options="purpose.option for purpose in sendMoney.purposeOptions">
	</select>

	<button class="small" ng-click="sendMoney.clear()"><strong>clear</strong></button>
	<button class="small"><strong>send</strong></button>
	
	</form>
</div>


<!-- show when loading -->
<div ng-show="sendMoney.loading" class="dim"></div>
<img ng-show="sendMoney.loading" id="loadingWheel" src="../loading_apple.gif" alt="loading">
