/* common styling */
.title {
	font-family: Impact;
    font-size: 35px;
    color: #B3B3B3;
    text-align: center;
    margin-top: 25px;
}


.background {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 320px;
	background-color: #E6E6E6;
	margin: auto;
	height: 568px;
	position: absolute;
	text-align: center;
	overflow: auto;
}

/* button setting */

button {
	background-color: #666666;
	color: #CCCCCC;
	font-size: 21px;
	margin: auto;
	border-radius: 4px;
}

.large {
	display: block;
	width: 265px;
	height:57px;
	margin-top: 25px;
}
.small {
	width: 130px;
	height:57px;
	margin-top: 25px;
}


/* homepage */

.Paypal {
    margin-top: 165px;
}


/*send money page*/
select {
	border: none;
	box-sizing: content-box;
	background-color: white;
}

input, textarea, select {
	width: 250px;
    height: 40px;
    font-size: 21px;
    color: #B3B3B3;
    margin-top: 20px;
    padding-left: 10px;
    border: double;
    border-radius: 4px;
}
.money {
	width: 142px;
    padding-left: 28px;
}
.currency {
	width: 81px;
}

.text {
	font-family: sans-serif;
    color: #B3B3B3;
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
}

textarea {
	height: 100px;
	padding-top: 10px;
	margin-top: 90px;
}

.has-error {
	border-color: red;
}

#currencySign {
	position: absolute;
    margin-top: 32px;
    margin-left: 38px;
    font-size: 21px;
    font-family: sans-serif;
    color: #B3B3B3;
}

#amountInput {
	position: absolute;
    margin: auto;
    right: 0;
    left: 0;
}

/* loading */

#loadingWheel {
	position: absolute;
    top: 0;
    height: 42px;
    width: 42px;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
}

.dim {
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* success page */
table {
	width: 265px;
    margin: auto;
    margin-top: 30px;
    background-color: #b3b3b3;
}

td {
	background-color: white;
    height: 40px;
    font-family: sans-serif;
    font-size: 18px;
    color: #666666;
    overflow: auto;
}

th {
	font-family: sans-serif;
    color: white;
    height: 47px;
    font-size: 20px;
}

.thank {
	font-family: sans-serif;
    font-size: 17px;
    margin-top: 5px;
    color: #B3B3B3;
}

.what {
	margin-top: 30px;
    font-family: sans-serif;
    font-size: 22px;
    color: #B3B3B3;
}

/* history */

.historyButton {
	margin-bottom: 20px;
}

.history th, .history td {
	font-size: 12px;
}
.history th {
	border: 1px solid white;
}

.history {
    width: 290px;
    margin: auto;
    margin-top: 15px;
    background-color: #b3b3b3;
